.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Sample/OctopusSample/secrets.xcconfig
Sources/OctopusSwift/Persistence/Database/OctopusModel.momd
Sample/OctopusSample.app.dSYM.zip
Sample/OctopusSample.ipa
Sample/QNUQX4L7ZJ.cer
Sample/AppStore_com.octopuscommunity.sdk.sample.mobileprovision
Sample/fastlane/.env
Sample/fastlane/report.xml
Tests/OctopusCoreTests/Secrets/secrets.json
Sample/OctopusSample/Config/secrets.xcconfig
CocoaPodsValidationApp/Pods/