# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Build SDK

on:
  push:
    branches: [ "main", "next", "hotfix" ]
  pull_request:
    branches: [ ] # build on all branches

jobs:
  build:
    runs-on: macos-26 #[self-hosted, macOS]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
        token: ${{ secrets.CI_PAT }}

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 26.1

    - name: Get active Xcode version
      id: xcode-version
      run: |
        xcodebuild_version=$(xcodebuild -version | head -n1 | awk '{print $2}')
        echo "XcodeBuild versions: $xcodebuild_version"
        available_runtimes="$(xcrun simctl list runtimes)"
        echo "Runtimes available: $available_runtimes"

    - uses: irgaly/xcode-cache@v1
      with:
        key: xcode-cache-deriveddata-xcode-${{ steps.xcode-version.outputs.version }}-${{ github.workflow }}-${{ github.sha }}
        restore-keys: xcode-cache-deriveddata-xcode-${{ steps.xcode-version.outputs.version }}-${{ github.workflow }}-

    - name: Build Package and run tests
      run: |
        xcodebuild test \
          -scheme 'OctopusSdkSwift-Package' \
          -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.1' \
          CODE_SIGNING_ALLOWED='NO'
